// .invalid-feedback{
//     margin:10px 0px;
//     display: block !important;
//   }
  .pwd_character{
    font-size: 12px;
    margin: 10px 0px;
}
.bi-x-square {
    font-size: 14px;
    margin-right: 5px;
}
.bi-check-square-fill {
    font-size: 14px;
    margin-right: 5px;
}