
<!-- @if(loading$){<div class="card-content text-center">
    <div class="dimmer active">
        <div class="spinner2">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div> -->

@if (loading){
<div class="loader">
    <!-- <div class="dimmer active">
        <div class="spinner2">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div> -->
    <div class="dimmer active">
        <div class="spinner"></div>
    </div>
  </div>
}
