
     <!-- CONTAINER OPEN -->
     <div class="">
        <div class="text-center">
            <a><img style="height: 50px;" src="./assets/images/brand/datamplify_white.png" class="header-brand-img" alt=""></a>
        </div>
    </div>
    <div class="container-lg">
        <div class="row justify-content-center mt-4 mx-0">
            <div class="col-xl-4 col-lg-6">
                <div class="card shadow-none">
                    <div class="card-body p-sm-6">
                        <div class="text-center mb-4">
                            <h4 class="mb-1">Sign In</h4>
                            <p>Sign in to your account to continue.</p>
                        </div>
                        <div class="row" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <form>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="mb-2 fw-500">Email<span class="text-danger ms-1">*</span></label>
                                    <input class="form-control ms-0" type="email" formControlName="email" placeholder="Enter your Email">
                                    @if(loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched){
                                        <div class="text-danger">Email required</div>
                                    }
                                    @if(loginForm.get('email')?.hasError('pattern')){
                                        <div class="text-danger">Please enter a valid email address</div>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="mb-2 fw-500">Password<span class="text-danger ms-1">*</span></label>
                                    <div class="input-group has-validation">
                                        <input type="password" class="form-control" id="input-password" formControlName="password" placeholder="Password" [type]="showPassword1 ? 'text' : 'password'">
                                        <button class="btn btn-light" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="d-flex mb-3">
                                    <!-- <div class="form-check d-flex align-items-center">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label tx-15" for="flexCheckDefault">
                                            Remember me
                                        </label>
                                    </div> -->
                                    <div class="ms-auto">
                                        <a routerLink="/authentication/forgot-password" class="tx ms-1 tx-13 default-color">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="d-grid mb-3">
                                    <button class="btn default-background-color" [disabled]="!loginForm.valid "
                                    type="submit"> Login</button>
                                </div>
                                <div class="text-center">
                                    <p class="mb-0 tx-14">Don't have an account yet?
                                        <a routerLink="/authentication/register" class="tx ms-1 text-decoration-underline default-color">Sign Up</a>
                                    </p>
                                </div>
                            </div>
                            </form>
                        </div>
                        <!-- <p class="text-center mt-3 mb-2">Signin with</p> -->
                        <!-- <div class="d-flex justify-content-center">
                            <div class="btn-list">
                                <button class="btn btn-icon bg-primary-transparent rounded-pill border-0" type="button">
                                    <span class="btn-inner--icon"><i class="fa fa-facebook-f"></i></span>
                                </button>
                                <button class="btn btn-icon bg-primary-transparent rounded-pill border-0" type="button">
                                        <span class="btn-inner--icon"><i class="fa fa-google"></i></span>
                                    </button>
                                <button class="btn btn-icon bg-primary-transparent rounded-pill border-0" type="button">
                                        <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
                                    </button>
                                <button class="btn btn-icon bg-primary-transparent rounded-pill border-0" type="button">
                                        <span class="btn-inner--icon"><i class="fa fa-linkedin"></i></span>
                                </button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTAINER CLOSED -->