<app-page-header title="FlowBoards" moduleId="flowBoardList" title1="Home" activeitem="FlowBoards"></app-page-header>


<div class="main-container container-fluid TopHeader">

    <div class="row" class="card card-padding-top">
        <div class="col-sm-12 col-lg-12 col-xl-12 p-0">
            <div class="d-flex justify-content-between px-5">
                <div class="connect-txt">
                    <h4 class="card-title mt-2">Saved FlowBoards</h4>
                </div>
                <div class="new-data-btn d-flex text-align-center">
                    <button *ngIf="gridView" type="button" ngbTooltip="Grid View"
                        class="btn btn-icon btn-outline-primary me-1"><i class="fa fa-th-large"></i></button>
                    <button *ngIf="gridView" type="button" ngbTooltip="Table View" (click)="gridView=false"
                        class="btn btn-icon btn-primary-light me-3"><i class="fa fa-th-list"></i></button>

                    <button *ngIf="!gridView" type="button" ngbTooltip="Grid View" (click)="gridView=true"
                        class="btn btn-icon btn-primary-light me-1"><i class="fa fa-th-large"></i></button>
                    <button *ngIf="!gridView" type="button" ngbTooltip="Table View"
                        class="btn btn-icon btn-outline-primary me-3"><i class="fa fa-th-list"></i></button>


                    <div class="input-group">
                        <input type="text" class="form-control border-end-0 " placeholder="Search"
                            aria-describedby="button-addon2" [(ngModel)]="search" (keyup.enter)="page = 1; getFlowboardList();">
                        <button class="btn btn-primary border me-2 search-icon-border-radius" type="button" (click)="page = 1; getFlowboardList()"
                            id="button-addon2"><i class="fe fe-search "></i></button>

                        <button class="btn btn-primary new-sheet-btn-radius me-2" (click)="goToFlowboard()">
                            <i class="fe fe-plus me-1"></i>New FlowBoard
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="dataFlowList.length === 0" class="ms-2">
                No FlowBoards to display!
            </div>
            <!-- <div>
                You don't have permission to view!
            </div> -->
            <div *ngIf="dataFlowList.length > 0" class="card-body">
                @if(!gridView){
                <div class="table-responsive border table-responsive-height">
                    <table class="table border text-nowrap text-md-nowrap mb-0">
                        <thead class="table-primary bg-primary table-primary-position">
                            <tr>
                                <th>Title</th>
                                <th>Created At</th>
                                <th>Last Modified</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dataFlow of dataFlowList | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }; let index = index">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="imgdf">
                                            <img src="./assets/images/charts/post-tiled-icon.jpg" alt="postgresql data flow"
                                                class="w-7 h-7 border rounded-3  me-4">
                                        </div>
                                        <!-- <div class="content"> -->
                                            <p class="cursor-pointer fw-bold" style="font-size: 17px;" [ngbTooltip]="dataFlow.Flow_name"
                                                (click)="editFlowboard(dataFlow.id)"> {{dataFlow.Flow_name | slice: 0: 15}} </p>
                                        <!-- </div> -->
                                    </div>
                                </td>
                                <td> {{dataFlow.created_at | date: 'yyyy-MM-dd HH:mm:ss' }} </td>
                                <td> {{dataFlow.updated_at | date: 'yyyy-MM-dd HH:mm:ss' }} </td>
                                <td>
                                    <div class="hstack gap-2 fs-1">
                                        <button class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light"
                                            (click)="editFlowboard(dataFlow.id)">
                                            <i class="ri-edit-line"></i>
                                        </button>
                                        <button class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light"
                                            (click)="deleteFlowboard(dataFlow)">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
                @if(gridView){
                <div class="row">
                    <div class="col-md-12 col-xl-3" *ngFor="let dataFlow of dataFlowList | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }; let index = index">
                        <div class="card card-box-shadow ">
                            <div class="card-header tiled-header-bg bg-primary tiled-card-header-padding">
                                <div class="d-sm-flex align-items-center">
                                    <div class="user-image">
                                        <span class="avatar avatar rounded-circle">
                                            <img src="./assets/images/charts/post-tiled-icon.jpg" alt="postgresql data flow"
                                                class="rounded-circle">
                                        </span>
                                    </div>
                                    <div class="ms-2 mt-sm-0 mt-2">
                                        <h6 class="mb-1">
                                            <a [ngbTooltip]="dataFlow.Flow_name" class="float-start"
                                                (click)="editFlowboard(dataFlow.id)"> {{dataFlow.Flow_name | slice: 0: 15}} </a>
                                        </h6>
                    
                                    </div>
                                </div>
                    
                                <div class="col-auto">
                                    <div class="d-flex justify-content-end p-1" ngbDropdown>
                                        <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                            aria-haspopup="true" aria-expanded="false" class=""><i
                                                class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                                        </a>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <a class="dropdown-item" (click)="editFlowboard(dataFlow.id)">
                                                <i class="fe fe-edit me-2 d-inline-flex"></i>edit
                                            </a>
                                            <a class="dropdown-item  btn btn-secondary-light" (click)="deleteFlowboard(dataFlow)">
                                                <i class="fe fe-trash me-2 d-inline-flex"></i>delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body tiled-card-body-padding">
                                <div class="row">
                    
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span class="fw-semibold fs-14">Created On: </span>
                                            </div>
                                            <div class="col-md-7">
                                                <span class="fs-14"> {{dataFlow.created_at | date: 'yyyy-MM-dd HH:mm:ss' }} </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span class="fw-semibold fs-14">Last Modified: </span>
                                            </div>
                                            <div class="col-md-7">
                                                <span class="fs-14"> {{dataFlow.updated_at | date: 'yyyy-MM-dd HH:mm:ss' }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                    (pageChange)="page = $event; getFlowboardList()"></pagination-controls>
                <div class="pagination-count">
                    <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()" class="form-control cursor"
                        [disabled]="!pageSize">
                        <option value="10"> 10</option>
                        <option [disabled]="!(totalItems > 10)" value="20"> 20</option>
                        <option [disabled]="!(totalItems > 20)" value="30"> 30</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>