<div class="login-container">
  <div class="animated-bg"></div>

  <!-- Forgot Password UI -->
  <div *ngIf="isforgotPassword" class="login-card">
    <div class="card-body">
      <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <img style="height: 50px;" src="./assets/images/brand/datamplify_white.png" alt="">
      </div>
      <div class="text-center mb-4">
        <h4 class="mb-1">Forgot Password?</h4>
        <p>Enter your email address registered on your account</p>
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
        <div class="form-group mb-3">
          <input type="email" placeholder="Email" class="form-control" formControlName="email">
          @if(forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched){
          <div class="text-danger mt-1">Email required</div>
          }
          @if(forgotPasswordForm.get('email')?.hasError('pattern')){
          <div class="text-danger mt-1">Please enter a valid email address</div>
          }
        </div>
        <button type="submit" class="btn btn-login w-100" [disabled]="!forgotPasswordForm.valid">Submit</button>
        <div class="text-center mt-3">
          <p>Remembered your password? 
            <a routerLink="/authentication/login" class="signup-link">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>

  <!-- Reset Password UI -->
  <div *ngIf="resetPasswordUI" class="login-card">
    <div class="card-body">
      <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <img style="height: 50px;" src="./assets/images/brand/datamplify_white.png" alt="">
      </div>
      <div class="text-center mb-4">
        <h4 class="mb-1">Reset Your Password</h4>
        <p>Reset your password here</p>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
        <div class="form-group mb-3">
          <label>Create Password</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Create a Password" class="form-control" formControlName="password">
            <button class="btn btn-info" type="button" (click)="toggleVisibility()">
              <i class="ri-eye-{{toggleClass}}"></i>
            </button>
          </div>
        @if(requiredValid){
        <div id="validation-rules" class="mt-3">
            <!-- minlength -->
            <div class="pwd_character" [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }">
                <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                Must be at least 8 characters long
            </div>
        
            <!-- requires digit -->
            <div class="pwd_character" [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid }">
                <i [attr.class]="requiresDigitValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                Must contain at least 1 digit
            </div>
        
            <!-- requires uppercase -->
            <div class="pwd_character"
                [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid }">
                <i [attr.class]="requiresUppercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                Must contain at least 1 uppercase character
            </div>
        
            <!-- requires lowercase -->
            <div class="pwd_character"
                [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid }">
                <i [attr.class]="requiresLowercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                Must contain at least 1 lowercase character
            </div>
        
            <!-- requires special characters -->
            <div class="pwd_character"
                [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger': !requiresSpecialCharsValid }">
                <i [attr.class]="requiresSpecialCharsValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                Must contain at least 1 special character
            </div>
        </div>
        }
        </div>
        <div class="form-group mb-3">
          <label>Confirm Password</label>
          <div class="input-group">
            <input [type]="showPassword1 ? 'text' : 'password'" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword">
            <button class="btn btn-info" type="button" (click)="toggleVisibility1()">
              <i class="ri-eye-{{toggleClass1}}"></i>
            </button>
          </div>
          @if(confirmPasswordError){
          <div class="text-danger mt-1">Password Didn't match</div>
          }
        </div>
        <button type="submit" class="btn btn-login w-100" [disabled]="!resetPasswordForm.valid">Submit</button>
        <div class="text-center mt-3">
          <p>Remembered your password? 
            <a routerLink="/authentication/login" class="signup-link">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>