// for 90% Resolution //
@media ( 1420px <= width <= 1560px) {
.h4, h4 { font-size: 20px;}
.mb-3 { margin-block-end: 8px !important; }
.form-control{ font-size: 12px;}
label{font-size: 13px;}
}

// for 100% Resolution //
@media ( 1280px <= width <= 1420px) {
.h4, h4 { font-size: 18px;}
.mb-3 { margin-block-end: 6px !important; }
.form-control{ font-size: 11px;}
label{font-size: 12px;}
}