<div class="login-img ltr">
    <div class="page">
        <div class="container-lg mt-5">
            <div class="row justify-content-center mt-5 mx-0">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="card shadow-none">
                        <div class="card-body p-sm-5">
                            <div class="text-center mb-3">
                                <h4 class="mb-1">Update Your Password?</h4>
                                <p>Update your password here</p>
                            </div>
                            <div class="row">
                                <form [formGroup]="updatePasswordForm" (ngSubmit)="submitUpdatePasswordForm()">
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label class="mb-2 fw-500">Current Password<span class="text-danger ms-1">*</span></label>
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control ms-0 border-end-0" placeholder="your current Password" formControlName="current_password" id="signup-confirmpassword"
                                                [type]="showPassword2 ? 'text' : 'password'" autocomplete="off">
                                                    <button class="btn btn-light" (click)="toggleVisibility2()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass2}} align-middle"></i></button>                          
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label class="mb-2 fw-500">New Password<span class="text-danger ms-1">*</span></label>
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control ms-0 border-end-0" placeholder="Create a Password" formControlName="new_password"  id="signup-password" 
                                                [type]="showPassword ? 'text' : 'password'" autocomplete="off">
                                                <button class="btn btn-light" (click)="toggleVisibility()" type="button" id="button-addon2">
                                                    <i class="ri-eye-{{toggleClass}} align-middle"></i></button>
                                                    <div class="invalid-feedback" style="display: block !important;">
                                                        <!-- required -->
                                                        <!-- <span class="text-danger" *ngIf="(f.password.dirty || submitted) && !requiredValid">Password is required</span> -->
                                            
                                                        <!-- password validation rules -->
                                                        @if(requiredValid){
                                                        <div id="validation-rules" class="mt-3"  >
                                                        <!-- minlength -->
                                                        <div class="pwd_character" [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }">
                                                            <i [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                            Must be at least 8 characters long
                                                        </div>
                                            
                                                        <!-- requires digit -->
                                                        <div class="pwd_character" [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid }">
                                                            <i [attr.class]="requiresDigitValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                            Must contain at least 1 digit
                                                        </div>
                                            
                                                        <!-- requires uppercase -->
                                                        <div class="pwd_character" [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid }">
                                                            <i [attr.class]="requiresUppercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                            Must contain at least 1 uppercase character
                                                        </div>
                                            
                                                        <!-- requires lowercase -->
                                                        <div class="pwd_character" [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid }">
                                                            <i [attr.class]="requiresLowercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                            Must contain at least 1 lowercase character
                                                        </div>
                                            
                                                        <!-- requires special characters -->
                                                        <div class="pwd_character" [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger': !requiresSpecialCharsValid }">
                                                            <i [attr.class]="requiresSpecialCharsValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                            Must contain at least 1 special character
                                                        </div>
                                                        </div>
                                                        }
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <label class="mb-2 fw-500">Confirm Password<span class="text-danger ms-1">*</span></label>
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control ms-0 border-end-0" placeholder="Confirm your Password" formControlName="confirm_password" id="signup-confirmpassword"
                                                [type]="showPassword1 ? 'text' : 'password'" autocomplete="off">
                                                    <button class="btn btn-light" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
                                            </div>
                                            @if(confirmPasswordError){
                                                <div class="text-danger">Password Didn't match</div>
                                            }
                                        </div>
                                    </div>
                                <div class="col-xl-12">
                                    <div class="d-grid mb-3">
                                        <button type="submit" [disabled]="!updatePasswordForm.valid" class="btn btn-primary"> Submit</button>
                                    </div>
                                    <div class="text-center">
                                        <p class="mb-0 tx-14">Changed your mind?
                                            <a routerLink="/datamplify/home" class="tx-primary ms-1 text-decoration-underline">Home</a>
                                        </p>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>